* {
    margin: 0 auto;
}

#leafletmap {
    width: 800px;  /* feel free to change this! */
    height: 600px; /* feel free to change this! */
}

.table-scroll {
    width: max-width;
    display: block;
    height: 700px;
    overflow-y: auto;
}

td {
    text-align: center;
}

table th:first-child {
    position: sticky;
    left: 0;
}

table th { 
    position: sticky;
    top: 0;
    background: white;
}

nav{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: lightblue;
    font-size: 2rem;
}

.searchInput {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.propertyCrimeColor { 
    background-color: lightblue;

}

.violentCrimeColor {
    background-color: salmon;

}

.otherCrimeColor {
    background-color: lightgreen;

}


.propertyCrimeColorLegend { 
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: lightblue;
}

.violentCrimeColorLegend {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: salmon;
}

.otherCrimeColorLegend {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: lightgreen;
}

.Legend {
    list-style-type: square;
    align-items: left;
}

#center {
    text-align: center;
}

ol {
    list-style-position: inside;
}

