* {
    margin: 0 auto;
}

#leafletmap {
    width: 800px;  /* feel free to change this! */
    height: 600px; /* feel free to change this! */
}

.table-scroll {
    width: max-width;
    display: block;
    height: 700px;
    overflow-y: auto;
}

td {
    text-align: center;
}

table th:first-child {
    position: sticky;
    left: 0;
}

table th { 
    position: sticky;
    top: 0;
    background: white;
}

.navbar button{
    font-size: 2em;
    font-weight: bold;
}

.navbar-span a {
    font-size:1.25em;
}

.navbar-home {
    font-size: 2em;
    font-weight: bold;
}
